.weather-box {
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  padding: 10px;
  width: 350px;

  box-shadow: 0 0 20px 0px rgba(0,0,0,.2);

  margin: 10px 10px;

  transition: all .5s;

  &:hover {

    box-shadow: 0 0 20px 0px rgba(0,0,0,.5);
  }
}

.weather-box__name {
  text-align: center;
  font-weight: bold;
}

.weather-box__icons {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.weather-box__map {
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  margin-top: 20px;
}
