<div class="container">
  <header>
    <h1>THE weather app</h1>
  </header>
</div>

<div class="container main-container">

  {{outlet}}

</div>

<footer class="container">
  <div class="footer">
    coded by <a href="https://github.com/gpluta" target="_blank">{{fa-icon "github" size="lg"}}gpluta</a></div>
</footer>