{{location-search
  performSearch="performSearch"
  lastSearch=lastSearch
}}

<div class="results">

  {{#if model.count}}
    {{#each model.list as |city|}}
      {{weather-box
        city=city
      }}
    {{/each}}
  {{else}}
    <span>No cities to show... :(</span>
  {{/if}}
</div>